*{
    margin: 0;
    padding: 0;
}
#header{
    background-color: rgb(7, 7, 8);
    height: 10opx;
    
   
}
#img{
    
    max-width: 150px;
   margin-top: 5px;
     position: absolute;
     top: 8px;
     left: 16px;
     font-size: 18px;
     margin-left: 100px;
 }
 
   #imgg{
     
     max-width: 150px;
    margin-top: 5px;
      position: absolute;
      top: 15px;
      right: 16px;
      font-size: 18px;
      margin-right: 100px;
     
  
  }
 
 